@model IEnumerable<RoyalAcademy.Models.Result>

@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Marks</th>
            <th>Student</th>
            <th>Exam</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MarksObtained
                </td>
                <td>
                    @item.Student.StudentCode - @item.Student.FullName
                </td>
                <td>
                    @item.Exam.ExamName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
